	background: url("../img/header.jpg") no-repeat center;
	height: 100vh;
}
.logo{
	width: 20%;
	height: auto;
	margin: auto;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  /*vertical-align: top;*/
}

.navbar .navbar-collapse {
  text-align: center;
}
#menu{
	background: rgba(0,0,0,0.7);
}
#menu ul li a:hover{
	background: none;
	color: #FF6E00;
}

#menu ul li a{
	color: white;
}
.prueba-icon{
	background: red;
}

.formulario{
	width: 80%;
	margin: auto;
	position: relative;
	top: 200px;
}

.formulario1{
	padding: 15px 25px 25px 25px;
	background: rgba(0,0,0,0.6);
}

.prueba-input{
	height: 50px;
	margin-top: 10px;

}
.prueba-btn{
	margin-top: 10px;
	height: 50px;
	background: #FF6E00;
	color: white;
}
.prueba-btn:hover{
	background: #FFB900;
	color: white;
}
